html, body {margin:0;padding:0;height:100%;}

/* prevent touch delay */
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

body {
	background-color: #eee;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	overflow: auto;
}

.clear {
	clear: both;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
	background-color: rgba(0,0,0,.85);
	height: 56px;
	padding: 18px;
	box-shadow: 0 1px 3px rgba(0,0,0,.26);
	position: fixed;
	width: 100%;
	z-index: 300;
	box-sizing: border-box;
	transform: translateZ(0);
}

header h1 {
	font-size: 1.1em;
	text-align: center;
	color: white;
	text-transform: uppercase;
}

header #backButton {
	width: 20px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 18px;
}

footer {
	background-color: rgba(0,0,0,.85);
	height: 40px;
	padding: 18px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 250;
	box-sizing: border-box;
	transform: translateZ(0);	
}

div#container {
    position: absolute;
    top: 56px;
    padding: 10px 10px 100px 10px;
}

section.card {
	/* This puts the border inside the edge */
	box-sizing: border-box;
	width: 250px;
	margin: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	color: #444;
	line-height: 1.5em;
	background-color: #fafafa;
	float: left;
}

section.card .thumbContainer {
	position: relative;
	transition: all 0.1s;
	background-color: black;
}

section.card .thumbContainer .heart {
	position: absolute;
	bottom: 14px;
	left: 11px;
	width: 40px;
	height: 40px;
	background-image: url('heart.png');
	background-position: 5% 95%;
	background-repeat: no-repeat;
	background-size: 20px;
	z-index: 100;
}

section.card .thumbContainer img {
	z-index: 200;
	position: relative;
}

section.card .thumbContainer .redHeart {
	position: absolute;
	bottom: 14px;
	left: 11px;
	width: 40px;
	height: 40px;
	opacity: 0;
	background-image: url('redheart.png');
	background-position: 5% 95%;
	background-repeat: no-repeat;
	background-size: 20px;
	z-index: 250;
}

section.card.selected .thumbContainer .redHeart {
	opacity: 1;
}

section.card .thumbContainer.liked {
	background-image: url('redheart.png');
}

section.card .thumbContainer .thumb {
	width: 250px;
}

section.card .thumbContainer:active .thumb {
	opacity: 0.7;	
}

section.card .metaContainer {
	padding: 10px;
}

section.card .metaContainer h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
}

section.card .optionContainer {
}

section.card .optionContainer .option {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.8em;
	/* Put the padding and margin on the options so the click targets are larger */
	padding: 5px 5px;
	margin: 3px 8px;
	color: #00BAD2;
	/* A default position */
	float: right;
}

section.card .optionContainer .option.left {
	float: left;
}

section.card .optionContainer .option.right {
	float: right;
}

section.card .optionContainer .option.bad {
	color: #D55;
}

section.card .optionContainer .option.disabled {
	color: #CCC;
}

section.card.detail {
	-webkit-animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

b {
	font-weight: 400;
}

div#addbutton {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-image: url('images/plus-grey.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px;
	background-color: #eeff41;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}